*
tests/
docs/
development/
!requirements.txt
!md_requirements.txt
!encodermap
!setup.py
!pyproject.toml
!description.md
!versioneer.py
!tests/data/glu7.xtc
!tests/data/glu7.pdb
!tests/test_requirements.txt
!tutorials/notebooks_starter/*.ipynb
!tutorials/notebooks_intermediate/*.ipynb
!tutorials/notebooks_MD/*.ipynb
!tutorials/notebooks_customization/*.ipynb

!tutorials/docker/slurm_node_w_prometheus
!tutorials/docker/slurm_node
!tutorials/docker/slurm_master
!tutorials/docker/slurm_database
!tutorials/docker/slurm_base
