h5py
h5netcdf
mdtraj
scipy
networkx
seaborn
pandas
nglview
PyYAML
xarray
mdshare
dask
dask-jobqueue
numba
distributed
dash
plotly
dash_bio
dash-bootstrap-components
dash-mantine-components
dash-bootstrap-templates
pydot
graphviz
dash_auth
rich
kaleido
ipycanvas
orjson
bokeh
