sphinx
sphinxcontrib-youtube
sphinx-copybutton
sphinxcontrib-bibtex
nbsphinx-link
sphinx-design
pydata-sphinx-theme
mistune>=2.0
livereload
ipykernel
myst-parser
livereload
sphinx-gallery
imohash
myst-nb
